[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
ipdb = "*"
requests-cache = "*"
"beautifulsoup4" = "*"
"html5lib" = "*"
pytest = "*"
pytest-flakes = "*"
pytest-blockage = "*"
pytest-codestyle = "*"
pytest-pylint = "*"
lxml = "*"
python-slugify = "*"
pyopenssl = "*"
python-dateutil = "*"
retry = "*"
black = "*"
rich = "*"
arcgis2geojson = "*"

[dev-packages]
pytest-mypy-plugins = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
